<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
 <link rel="stylesheet" href="/static/style.css">
 <script src="/static/core.js"></script>
</head>

<div id=""></div>

<body onload = "init()">
<div class="wrapper" id="mainScreen">
	<div id="buttonsOnMainScreen">
		<div class="mainScreenButt">
			<center>Захватывающий сюжет</center>
		</div>
		<div class="mainScreenButt">
			<center>Игра по сети</center>
		</div>
		<div class="mainScreenButt">
			<center>Профиль игрока</center>
		</div>
	</div>
</div>
</body>
</html>
