/*                 Main Screen                */
body{
	height: 768px;
	width: 1024px;
	  -moz-user-select: -moz-none;
	 -o-user-select: none;
	 -khtml-user-select: none;
	 -webkit-user-select: none;
	 user-select: none;
}
.wrapper{
	overflow: hidden !important;
}

#mainScreen{
	width: 400px;
	height: 100%;
	margin: 0 auto;
}

.mainScreenButt{
	height: 50px;
	width: 200px;
	margin-top: 50px;
	padding-top: 30px;
	border: 1px solid grey;
	border-radius: 10px;
}
.mainScreenButt:active{
	background: #888;
}
.prologue-img{
	letter-spacing: -4px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	height: 100%;
	background-color: #AFA;
}
.prologue-text{
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: rgba(0,0,0,0.1);
}
.ava{
	letter-spacing: normal;
	vertical-align: middle;
	width: 29.5%;
	margin:0 5%;
	display: inline-block;
}
.ava:last-child{
	margin-left: 25%;
}
.text-field{
	letter-spacing: normal;
	vertical-align: middle;
	margin-top: 30%;
	width: 20%;
	display: inline-block;
}
/*                 Game Screen                */
/*                    Head                    */
#gamescreen{}
.gameHeadDivHeight{
	height: 112px;
}
.gameHead{
	width: 100%;
	background: grey;
}
.headWrap{
	width: 600px;
	margin: 0 auto;
}
.leftPlayers{
	width: 250px;
}
.versusImage{
	width: 100px;
}
.rightPlayers{
	width: 250px;
}
/*                 Game Screen                */
/*                    Body                    */
.gameBodyDivHeight{
	height: 656px;
}
.gameBody{
	width: 100%;
	background: green;
}
.abilities{
	overflow: hidden;
	width: 92px;
	background: #888;
}
.battleField{
	width: 840px;
}
.abilityButton{
	margin-top: 15px;
	width: 56px;
	height: 56px;
	background: green;
}
/*                Global Styles               */
.f_l{
	float:left;
}
.f_r{
	float:right;
}
.hidden{
	display:none;
}
.visible{
	display:block;
}
