<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://YourDomain.com/YourApp" version="1.0.0" viewmodes="fullscreen">
    <tizen:application id="1234567890.YourAppName" package="1234567890" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <icon src="icon.png"/>
    <name>The Blacksmiths Daughter</name>
    <tizen:setting screen-orientation="portrait" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
	 
	 
	 
	 
	 
	 
</widget>
